<div class="row">
  <div class="col-md-12 text-center">
    <div class="fs-3 fw-bold nombre">Fernando Campos</div>
    <h1 class="pa">Desarrollador Web</h1>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="fs-3">Sobre Mi</h2>
      <p class="parrafo sob">
        Hola me llamo Fernando Campos soy de la ciudad de berisso tengo 34 años, actualmente me desempeño como chofer de taxi,  me gusta la lectura, me desenvuelvo bien en cualquier entorno de trabajo, soy proactivo me adapto tanto al trabajo individual como al grupal, siempre dispuesto a encarar nuevas metas y proyecto...
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center is">
      <h2 class="fs-3">Mi Estudio</h2>
      <p class="parrafo sob">
        <li>Primaria Completa</li>
        <li>Secundaria Completa</li>
        <li>Defensa Personal</li>
        <li>Pensamiento Computacional</li>
        <li>Curso De Progamador Web</li>
      </p>
    </div>
  </div>
</div>
