header{
  text-align: center;
  position: sticky;
  top: 0;
  height: 10%;
  background-color: rgba(0,0,0,0.9);
  // position: sticky;
  // top:0;  
  // width: 100%;
  }

.arreglo{
  width: 100%;
  margin: auto;
font-family: 'Josefin Sans', sans-serif;  
}

button{
  margin: 15px;
  color: blue;
}

.main{
  background-color: rgb(8, 8, 8);
  color: #fff;
  padding: 10px;
  
}

.img-fondo{
  background-image: url('../assets/sakura-tree.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.miImagen{
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 10px 1px blue;
}
.nombre{
  margin: 5px;
  margin-bottom: 40px;
}

.parrafo{
  margin-top: 10px;
  text-align: justify;
  box-shadow: 0 0 10px 1px blue;
}

// .mb-3{
//   border-radius: 5px 5px 5px 5px;
//   box-shadow: 0 0 10px 1px blue;
// }

// .mb-4{
//   margin-block-start: 3%;
//   border-radius: 5px 5px 5px 5px;
//   box-shadow: 0 0 10px 1px blue;
// }

