.nombre{
  margin: 10px;
  margin-bottom: 20px;
}
.sob{
 margin: 10px;
 margin-top: 20px;
}

.parrafo{
 border-radius: 5px 5px 5px 5px;
 margin-top: 10px;
 text-align: justify;
 box-shadow: 0 0 10px 1px blue;

}