/* You can add global styles to this file, and also import other style files */

html, body, main { height: 100%; }
main{
  background-image:url ("../src/assets/fondo.jpg") 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

  
}

.navbar navbar-expand-lg bg-light{
  background-color: black;
}
